[submodule "external/utils"]
	path = external/utils
	url = https://github.com/JayaWikrama/utills.git
[submodule "external/fetchapi"]
	path = external/fetchapi
	url = git@github.com:JayaWikrama/FetchAPI.git
